@import "../../helpers/styles/_colors.scss";

@mixin link-hover {
    cursor: pointer;
    opacity: .5;
    will-change: opacity;
    transition: opacity 100ms;

    &:hover {
        opacity: 1;
    }
}

@mixin text-ellipsis {
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.block {
    padding: 24px 24px 16px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border: 1px solid $color-text-primary;
    border-radius: 12px;

    will-change: background-color;
    transition: background-color 100ms;
    background-color: $color-background;

    @media screen and (max-width: 1280px) {
        gap: 16px;
        flex-direction: column;
    }

    &:hover {
        background-color: darken($color-background, 1.2);
    }
}

.link {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    margin-left: 20px;

    height: 150px;

    @media screen and (max-width: 1280px) {
        margin-left: unset;
        flex: 1;
        width: 100%;
    }

    a {
        color: $color-text-primary;
    }

    &--short {
        font-size: 32px;

        max-width: 300px;

        @include text-ellipsis();

        @media screen and (max-width: 1280px) {
            font-size: 24px;

            max-width: unset;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
        }

       a {
            @include text-ellipsis();
       }

        @include link-hover();
    }

    &--original {
        font-size: 16px;

        opacity: .5;
        max-width: 300px;

        @include text-ellipsis();

        @include link-hover();

        @media screen and (max-width: 1280px) {
            max-width: unset;
        }
    }

    &--details {
        margin-top: auto;
        text-decoration: underline;

        @include link-hover();
    }

    &--icon {
        width: 32px;
        height: 32px;
        padding: 16px;
        border-radius: 4px;

        margin-left: auto;

        @include link-hover();

        @media screen and (max-width: 1280px) {
            min-width: 20px;
            min-height: 20px;
            padding: 4px;
            margin-left: unset;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.qrCode {
    &--hidden {
        display: none;
    }

    &--download {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
        font-size: 14px;

        &-link {
            @include link-hover();
        }
    }
}