$gap: 24px;

.block {
    margin-top: $gap;
    overflow: hidden;

    &--container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $gap;
    }

    &--item {
        // min-width: calc((100% - $gap) / 2);
        box-sizing: border-box;
    }
}