$gap: 24px;

.block {
    margin-top: $gap;
    overflow: hidden;

    &--container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $gap;

        @media screen and (max-width: 1280px) {
            display: flex;
            flex-direction: column;
        }
    }

    &--item {
        box-sizing: border-box;
    }
}